body {
    background-color: #1F1D36;
    font-family: sans-serif;
    color: whitesmoke;
}

header {
    display: flex;
    height: 50px;
    width: 100%;
    z-index: -1;
    background-color: #3F3351;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

span {
    color: #E9A6A6;
}

main {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 450px 450px 450px 400px;      
}

.item_concept {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #864879;
    width: 350px;
}

.item_concept p {
    text-align: justify;
    padding: 10px;
}

@media only screen and (min-width : 500px) and (max-width : 850px){
    main {
        max-width: 800px;
        grid-template-columns: repeat(2, auto); 
    }

    .item_concept {
        width: 200px;
        margin: 20px;
    }

    .item_concept p {
        text-align: center;
    }
}

@media only screen and (min-width : 280px) and (max-width : 412px) {
    header {
        height: 70px;
        text-align: center;
        margin-bottom: 20px;
    }

    main {
        max-width: 412px;
        grid-template-columns: repeat(1, auto); 
    }

    .item_concept {
        width: 275px;
        margin: 20px;
    }

    .item_concept p {
        text-align: center;
    }
}